{% extends 'core/base.html' %}

{% block content %}
<main class="px-3">
  <section class="text-center">
    <div class="col-lg-6 col-md-12 mx-auto">
      <h1 class="fw-light">Crear Nuevo Curso</h1>
    </div>
  </section>

  <div class="album py-5 bg-dark">
    <div class="container">

      <form method="post">
        {% csrf_token %}
        {{ formulario.as_p }}  <!-- Muestra todos los campos y errores del formulario -->
        <button type="submit">Crear Curso</button>
      </form>
      
      <!-- Mostrar errores globales del formulario -->
      {% if formulario.non_field_errors %}
          <div class="errorlist">
              {% for error in formulario.non_field_errors %}
                  <p>{{ error }}</p>
              {% endfor %}
          </div>
      {% endif %}
    

    </div>
  </div>
</main>
{% endblock %}
