{% extends 'core/base.html' %}

{% block content %}
<main class="px-3">
    <h1>Matricularse en el Curso</h1>
    <div class="card">
        <div class="card-body">
            <!-- Selección de tipo de pago -->
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="id_curso" value="{{ idCurso }}">
                
                <div class="form-group text-center">
                    <label for="tipoPago">Seleccione el método de pago:</label>
                    <select class="form-control mx-auto" id="tipoPago" name="id_tipo_pago" required style="max-width: 200px;">
                        {% for pago in tipo_pagos %}
                            <option value="{{ pago.0 }}">{{ pago.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <!-- Botón para confirmar matriculación -->
                <div class="form-group text-center mt-4">
                    <button type="submit" class="btn btn-success">Confirmar Matrícula y Pago</button>
                </div>
            </form>
        </div>
        <!-- Botón para volver atrás -->
        <div class="card-body text-center">
            <a href="verUnCurso/{{curso.Id}}" class="btn btn-secondary">Volver</a>
        </div>
    </div>
</main>
{% endblock %}
