{% extends 'core/base.html' %}

{% block content %}
<div class="bg-fondo">
    <div class="container">
        <div class="row justify-content-center">
            <div class="d-flex">
                <div class="flex-shrink-0">
                    <div class="card shadow-lg bg-black rounded contenedor-publicar-preview mx-auto">
                        <div class="card-section section-1">
                            <img src="/media/HondudemyR.jpg" width="500px" class="d-block img-pequena" alt="se produjo un error">
                        </div>
                    </div>
                </div>
                <div class="flex-grow-1 px-3">
                    <div class="card shadow-lg bg-black rounded contenedor-publicar-preview mx-auto">
                        <div class="card-section section-2">
                            <h4 class="card-title">Quiénes Somos</h4>
                            <p>
                                Hondudemy es una innovadora plataforma en línea dedicada a ofrecer una amplia variedad de tutorías y cursos educativos. Con una interfaz fácil de usar y una rica biblioteca de cursos en áreas como tecnología, negocios, arte y desarrollo personal, Hondudemy conecta a estudiantes con instructores expertos, permitiendo a los usuarios aprender a su propio ritmo y desde cualquier lugar. La empresa fomenta una comunidad de aprendizaje colaborativo, donde tanto instructores como estudiantes pueden interactuar y compartir conocimientos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
