<!-- templates/factura.html -->

    <style>
        pre { font-family: monospace; }
    </style>

    <pre>
----------------Nombre-----------------
--------------Domicilio----------------
---------------Telefono----------------
----------CorreoElectronico------------
------------------RTN------------------
------------------CAI------------------
-----------NumeroCorrelativo-----------
------Rango Autorizado del # al #------
***************************************
-------------NombreCliente-------------
-------------FechaEmision--------------
-----------FechaLimiteEmision----------
***************************************
--------------Descripcion--------------
***************************************
Sub Total: {{ subtotal }} Lps
ISV: {{ isv }}%
-----------------------------------
Total: {{ total }}
-----------------------------------

************Gracias por su compra************
    </pre>

